<div class="cyb-wrap">
  <div class="vh-show">
    <img src="ranger.png" alt="Ford Ranger" class="vh-disp" />
  </div>

  <div class="auth-pnl">
    <div class="auth-box">

      <div class="brand-box">
        <img src="ford.png" alt="Ford Logo" class="brand-logo" />
      </div>

      <div class="cred-box">
        <form class="sec-form" (ngSubmit)="login()">

          <h2 class="acc-title">Acesso Seguro</h2>

          <mat-form-field appearance="outline" class="fld-wrap">
            <mat-icon matPrefix>person</mat-icon>
            <input
              matInput
              type="text"
              name="nome"
              placeholder="Identificação de Usuário"
              [(ngModel)]="nome" />
            <mat-icon matSuffix class="hint-icn">info</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline" class="fld-wrap">
            <mat-icon matPrefix class="padlock">lock</mat-icon>

            <input
              matInput
              name="senha"
              [type]="hide() ? 'password' : 'text'"
              placeholder="Código de Segurança"
              [(ngModel)]="senha" />

            <button
              class="sec-toggle"
              type="button"
              mat-icon-button
              matSuffix
              (click)="clickEvent($event)"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide()">
              <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
          </mat-form-field>

          <div class="auth-opt">
            <mat-checkbox class="cbx-opt"></mat-checkbox>
            <span>Manter sessão ativa</span>
          </div>

          <button mat-flat-button class="acc-btn">
            Iniciar Sessão
          </button>

        </form>
      </div>

      <p class="legal-msg">Sistema Protegido © Ford Motor Company</p>

    </div>
  </div>
</div>