<div class="cl-wrap">
  <div class="v-show">
    <img src="ranger.png" alt="Ford Ranger" class="v-disp" />
  </div>

  <div class="a-panel">
    <div class="a-cont">

      <div class="b-id">
        <img src="ford.png" alt="Ford Logo" class="b-logo" />
      </div>

      <div class="cred-form">
        <form class="sec-form" (ngSubmit)="login()">
          <h2 class="acc-title">Acesso Seguro</h2>

          <mat-form-field appearance="outline" class="inp-cont">
            <mat-icon matPrefix>person</mat-icon>
            <input
              type="text"
              [(ngModel)]="nome"
              name="nome"
              matInput
              placeholder="Identificação de Usuário"
            />
            <mat-icon matSuffix class="d-hint">info</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline" class="inp-cont">
            <mat-icon matPrefix>lock</mat-icon>

            <input
              [type]="hide() ? 'password' : 'text'"
              [(ngModel)]="senha"
              name="senha"
              matInput
              placeholder="Código de Segurança"
            />

            <button
              class="sec-toggle"
              mat-icon-button
              matSuffix
              type="button"
              (click)="clickEvent($event)"
            >
              <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
          </mat-form-field>

          <div class="a-opt">
            <mat-checkbox></mat-checkbox>
            <span>Manter sessão ativa</span>
          </div>

          <button mat-flat-button class="acc-btn">
            Iniciar Sessão
          </button>
        </form>
      </div>

      <p class="l-notice">Sistema Protegido © Ford Motor Company</p>

    </div>
  </div>
</div>