<nav class="navb">
  <div class="cont-fl">

    <button class="nav-tog" type="button" data-bs-toggle="offcanvas" data-bs-target="#offSidebar" aria-controls="offSidebar">
      <div class="ham-ic">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </button>

    <a class="nav-link text-dark" routerLink="/login">
      <i class="fa-solid fa-right-from-bracket"></i>
      Sair
    </a>

  </div>
</nav>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offSidebar" aria-labelledby="offSidebarLabel">

  <div class="off-hd">
    <img src="ford.png" alt="Ford Logo" class="sb-logo">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>

  <div class="off-bd">
    <ul class="nav-list">
      <li class="nav-it">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-it">
        <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      </li>
    </ul>
  </div>

</div>